@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Playfair Display', serif;

	/* Custom Colors */
	--color-brand-green: #0891B2;
	--color-brand-green-hover: #0e7490;
	--color-brand-dark: #0f172a;
	--color-brand-darker: #020617;
	--color-brand-blue: #1e40af;
	--color-brand-cream: #FDFBF7;
	--color-brand-pink: #FCE7F3;
	--color-brand-light-green: #DCFCE7;
	--color-brand-yellow: #FEF9C3;
	--color-brand-purple: #F3E8FF;
}

@layer utilities {
	.font-serif {
		font-family: var(--font-serif);
	}
    .font-serif-display {
        font-family: var(--font-serif);
        letter-spacing: -0.02em;
    }
	.font-sans {
		font-family: var(--font-sans);
	}
}
